.heading {
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float:  right;
    border: 1px solid white;
}
.big_image{
    width: 100%;
}
#start, #status{
    font-size: 22px;
}
.heading button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
}
.heading:hover{
    background-image: linear-gradient(to top right, #f54242 25%, #42bcf5 50%, #f55d42 75%, #4284f5 100%);
}
h4{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 90%;
}
.instruction_image{
    display: inline-block;
    width: 45%;
}
.pop_up_head{
    font-size: 20px;
    font-weight: bold;
}

video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}